body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#222;
}

.clock{
    width:300px;
    height:300px;
    border:10px solid white;
    border-radius:50%;
    position:relative;
    background:white;
}

.hand{
    position:absolute;
    bottom:50%;
    left:50%;
    transform-origin:bottom;
    transform:translateX(-50%);
}

.hour{
    width:6px;
    height:70px;
    background:black;
}

.minute{
    width:4px;
    height:100px;
    background:blue;
}

.second{
    width:2px;
    height:120px;
    background:red;
}